body {
	overflow: hidden;
}

img {
	position: absolute;
}

#game_holder {
	transition: transform 0.75s;
	display: inline-block;
}

.board-holder {
	position: relative;
	height: 534px;
	width: 534px;
	background-size: contain;
	background-color: #7D6857;
	-webkit-user-select: none;
}

.board {
	position: absolute;
	top: 11px;
	left: 11px;
	background-color: gray;
	height: 512px;
	width: 512px;
}

.square {
	position: absolute;
	height: 64px; 
	width: 64px;
}

.block {
	position: absolute;
}

.notation {
	color: white;
	font-size: 12px;
}

.player1, .player2 {
	box-sizing: border-box;
	background-color: #E2DACC;
	width: 534px;
	height: 40px;
	padding: 8px;
	font-size: 20px;
}

.turn {
	float: right;
	border-radius: 20px;
	background-color: green;
	/*width: 20px;*/
	height: 20px;
	margin-top: 2px;
	margin-right: 10px;
	color: white;
	font-size: 14px;
	padding: 3px 10px 0px 10px;
}
.poss {
	width: 32px; 
	height: 32px;
	background-color: rgba(255,0,0,1);
	position: absolute;
	left: 16px;
	top: 16px;
	border-radius: 10000px;
}

.taken {
	height: 534px;
	position: absolute;
	width: 86px;
	right: -86px;
	background-color: #E2DACD;
}

.player_move {
	margin-top: 5px;
	margin-right: 10px;
	font-size: 14px;
	float: right;
}

.piece {
	height: 64px; 
	width: 64px;
	transition: translate 1s;
}

.history {
	position: absolute;
	left: 554px;
	width: 100px;
	height: 534px;
	top: 51px;
	border: 1px solid gray;
	overflow: auto;
}

.popup-holder {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.5);
}

.start-menu {
	height: 350px;
	width: 300px;
	border-radius: 5px;
	background-color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -175px;
	margin-left: -150px;
}