img {
	position: absolute;
}

.board-holder {
	position: absolute;
	height: 534px;
	width: 534px;
	background-size: contain;
	background-color: #7D6857;
	-webkit-user-select: none;
}

.board {
	position: absolute;
	top: 11px;
	left: 11px;
	background-color: gray;
	height: 512px;
	width: 512px;
}

.square {
	position: absolute;
	height: 64px; 
	width: 64px;
}

.block {
	position: absolute;
}

.notation {
	color: white;
	font-size: 12px;
}