
@font-face {
	font-family: 'sans';
	src: url('../fonts/open-sans/OpenSans-Regular.ttf'); /* IE9 Compat Modes */
}
@font-face {
	font-family: 'bsans';
	src: url('../fonts/open-sans/OpenSans-Bold.ttf'); /* IE9 Compat Modes */
}

body {
	overflow: scroll;
	font-family: 'sans';
}

img {
	position: absolute;
}

.block {
	position: absolute;
}

.moveto {
	-webkit-box-shadow: inset 0px 0px 300px 100px rgba(248,240,22,1);
}
.selected {
	-webkit-box-shadow: inset 0px 0px 300px 100px rgba(0,0,255,1);
}

#game_holder {
	transition: transform 0.75s;
	display: inline-block;
	position: absolute;
	left: 50%;
	margin-left: -267px;
}

.board-holder {
	position: relative;
	height: 534px;
	width: 534px;
	background-size: contain;
	background-color: #7D6857;
	-webkit-user-select: none;
}

.board {
	position: absolute;
	top: 11px;
	left: 11px;
	background-color: gray;
	height: 512px;
	width: 512px;
}

.square {
	position: absolute;
	height: 64px; 
	width: 64px;
}

.notation {
	color: white;
	font-size: 12px;
}

.player1, .player2 {
	box-sizing: border-box;
	background-color: #E2DACC;
	width: 534px;
	height: 40px;
	padding: 8px;
	font-size: 20px;
}

.turn {
	float: right;
	border-radius: 20px;
	background-color: green;
	/*width: 20px;*/
	height: 20px;
	margin-top: 2px;
	margin-right: 10px;
	color: white;
	font-size: 11px;
	padding: 3px 10px 0px 10px;
}
.poss {
	width: 32px; 
	height: 32px;
	background-color: rgba(255,0,0,1);
	position: absolute;
	left: 16px;
	top: 16px;
	border-radius: 10000px;
}

.taken {
	height: 534px;
	position: absolute;
	width: 86px;
	right: -86px;
	background-color: #E2DACD;
}

.player_move {
	margin-top: 5px;
	margin-right: 10px;
	font-size: 14px;
	float: right;
}

.piece {
	height: 64px; 
	width: 64px;
	transition: translate 1s;
}

.history {
	position: absolute;
	left: 554px;
	width: 152px;
	height: 524px;
	top: 51px;
	border: 1px solid gray;
	overflow: auto;
}

.history_buttons {
	position: absolute;
	left: 554px;
	width: 152px;
	height: 40px;
	top: 580px;
	border: 1px solid gray;
	overflow: auto;
}

.history::-webkit-scrollbar { 
    display: none; 
}

.popup-holder {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.5);
}

.start-menu {
	height: 310px;
	width: 300px;
	border-radius: 5px;
	background-color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -177px;
	margin-left: -152px;
	border: 4px solid #ECECEC;
	padding: 20px;
}

.endgame-holder {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.5);
	display: none;
}

.endgame {
	position: absolute;
	height: 70px;
	width: 280px;
	font-size: 24px;
	background-color: white;
	border-radius: 7px;
	left: 50%;
	margin-left: -140px;
	top: 50%;
	margin-top: -50px;
	padding-top: 20px;
	text-align: center;
}

.rotate {
	transform: rotate(180deg);
}

.start-game-btn {
	margin-top: 10px
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top: 0px;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

.abs-center {
	position: absolute;
	left: 50%;
}

.history-holder {
	width: 200px;
	position: absolute;
	right: -210px;
	height: 522px;
	overflow-y: hidden;
	overflow: scroll;
}


